:root {
  --bg: #edf2f0;
  --neu-1: #ecf0f3;
  --neu-2: #d1d9e6;
  --white: #f9f9f9;
  --gray: #a0a5a8;
  --black: #000;
  --aurora-blue: #080bc9;
  --aurora-green: #54d748;
  --transition: 1.25s;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: var(--black);
  color: --white;
}

/*========== HEADER ================*/

.header {
  /* width: 100%; */
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/background/desktop-back2500x2500.jpeg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 170px;
  cursor: pointer;
}

nav button {
  border: 0;
  outline: none;
  background: var(--aurora-blue);
  color: var(--white);
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.local-button {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--white);
  padding: 7px 10px;
}

.local-button img {
  width: 10px;
  margin-left: 10px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
  color: var(--white);
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.header-content button {
  margin-top: 30px;
  border: 0;
  outline: 0;
  background: var(--aurora-blue);
  color: var(--white);
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

/*========== FEATURES ================*/

.features {
  padding: 50px 12%;
  font-size: 22px;
}

.features:before {
  content: "";
  position: absolute;
  top: 670px; /* You can adjust this value to set where the blend starts */
  left: 0;
  right: 0;
  margin-right: 5%;
  height: 40px; /* This sets the blend height */
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--black));
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-grow: wrap;
  padding: 40px 0;
}

.copyright-area row {
  padding: 30px;
}

.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
  color: var(--white);
}

.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

/*========== FAQ ================*/

.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 15px;
}

.faq h2 {
  font-weight: 500;
  font-size: 40px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--gray);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--white);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--gray);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--gray);
  border: 1px solid var(--gray);
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 50%;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  background: currentColor;
  transform: translateY(-50%);
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 25%;
  left: 50%;
  width: 2px;
  height: 50%;
  background: currentColor;
  transform: translateX(-50%);
}

.accordion button[aria-expanded="true"] {
  color: var(--gray);
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/*========== Background Blob ================*/

.morphing-svg {
  filter: blur(65px);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.morphing-svg path {
  visibility: hidden;
}

.morphing-svg [data-morph-targets] {
  fill: #656565;
  visibility: visible;
}

/*========== Footer ================*/

.footer-widget ul {
  margin: 0px;
  padding: 0px;
}

.mb-30 {
  margin-left: 30px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.mb-50 .footer-widget {
  margin-left: 15px;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta {
  display: flex;
}

.single-cta i {
  color: var(--aurora-green);
  font-size: 30px;
  margin-top: 30px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

/*========== Socials ================*/

.wrapper {
  display: inline-flex;
  list-style: none;
  place-items: center;
  align-items: center;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #000;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077b5;
  color: #ffffff;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--aurora-green);
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: var(--aurora-green);
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--aurora-green);
  padding: 13px 20px;
  border: 1px solid var(--aurora-green);
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text {
  margin-left: 15px;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: var(--aurora-green);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: var(--aurora-green);
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*==========box5 ================*/

/* <section>
<div id="box5">
    <div class="box">
        <div></div>
    </div>
</div>
</section> */

#box5 {
  position: relative;
  width: 100%;
  height: 100%;
}
#box5 .box {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: url("https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"); */
  background-position: center;
}

#box5 .box div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 95%;
  background: transparent;
  background-position: center;
  z-index: -1;
  transition: 0.3s;
}

#box5 .box:hover div {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*========== RESPONSIVE DESIGN ================*/

/* @media (max-width: 600px) {
  .header-content {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .row {
    display: block;
  }

  .nav {
    margin-left: -20px;
  }

  .header-buttons {
    margin-right: 35px;
    display: flex;
  }

  .signin-button {
    width: 120px;
  }

  .local-button {
    display: inline-block;
  }

  .header-content button {
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .features {
    padding: 25px 10px 10px;
    margin-right: 80px;
    margin-left: 60px;
  }

  .features:before {
    content: "";
    position: absolute;
    top: 600px;
    left: 0;
    right: 0;
    margin-right: 5%;
    height: 40px;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      var(--black)
    );
  }

  .accordion .icon {
    margin-right: -30px;
    margin-top: 20px;
  }

  .footer-section {
    padding-left: 5%;
  }

  .footer-cta {
    padding-top: -50px;
  }

  .copyright-area {
    padding: 10px;
    background: #151414;
  }

  .footer-widget ul {
    margin: 10px 15px 15px 0;
  }
} */

/* CSS for 688x1031 */
@media (max-width: 688px) {
  /* .features:before {
    top: 300px;
  } */

  .header-content {
    margin-right: auto;
    margin-left: -30px;
  }

  .row {
    display: block;
  }

  .nav {
    margin-left: -15px;
    margin-right: 20px;
  }

  .header-buttons {
    margin-right: 35px;
    display: flex;
  }

  .signin-button {
    width: 90px;
  }

  .local-button {
    display: inline-block;
  }

  .header-content button {
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .features {
    padding: 25px 10px 10px;
    margin-right: 90px;
    margin-left: 20px;
  }

  .img-col img {
    width: 70%;
  }

  .faq {
    padding: 5px 17px;
    font-size: 10px;
    width: 75%;
  }

  .faq h2 {
    font-size: 30px;
  }

  .accordion .accordion-title {
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 15px;
  }

  .accordion .accordion-content p {
    margin: 0.5em 0;
    font-size: 10px;
  }

  .accordion .icon {
    margin-right: -30px;
    margin-top: 20px;
  }

  .footer-section {
    padding-left: 5%;
  }

  .footer-cta {
    padding-top: -50px;
  }

  .copyright-area {
    padding: 10px;
    background: #151414;
  }

  .footer-widget ul {
    margin: 10px 15px 15px 0;
  }
}

/* CSS for 393x786 */
@media (max-width: 393px) {
}

/* CSS for 414x896 */
@media (max-width: 414px) {
  .header-content {
    margin-top: 20px;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .row {
    display: block;
  }

  .nav {
    margin-left: -20px;
  }

  .header-buttons {
    margin-right: 35px;
    display: flex;
  }

  .signin-button {
    width: 120px;
  }

  .local-button {
    display: inline-block;
  }

  .header-content button {
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .features {
    padding: 25px 10px 10px;
    margin-right: 80px;
    margin-left: 60px;
  }

  .features:before {
    top: 600px;
  }

  .accordion .icon {
    margin-right: -30px;
    margin-top: 20px;
  }

  .footer-section {
    padding-left: 5%;
  }

  .footer-cta {
    padding-top: -50px;
  }

  .copyright-area {
    padding: 10px;
    background: #151414;
  }

  .footer-widget ul {
    margin: 10px 15px 15px 0;
  }
}

/* CSS for 375x812 */
@media (max-width: 375px) {
}

/* CSS for 412x846 */
@media (max-width: 412px) {
  .header-content {
    margin-left: auto;
    margin-right: auto;
  }

  .header-content h1 {
    font-size: 20px;
  }

  .row {
    display: block;
  }

  .nav {
    margin-left: -10px;
  }

  .header-buttons {
    margin-right: 10px;
    display: flex;
  }

  .signin-button {
    width: 120px;
  }

  .local-button {
    display: inline-block;
  }

  .features {
    margin-right: auto;
    margin-left: auto;
  }

  .features:before {
    top: 600px;
  }

  .accordion .icon {
    margin-right: -30px;
    margin-top: 20px;
  }

  .footer-section {
    padding-left: 5%;
  }

  .footer-cta {
    padding-top: -50px;
  }

  .copyright-area {
    padding: 10px;
    background: #151414;
  }

  .footer-widget ul {
    margin: 10px 15px 15px 0;
  }
}

/* CSS for 1024x800 */
@media (max-width: 1024px) {
  .header-content {
    margin-top: 10px;
  }

  .features:before {
    top: 508px;
  }
}

/* CSS for 360x740 */
@media (max-width: 360px) {
}

/* CSS for 414x736 */
@media (max-width: 414px) {
  .body {
    width: 100%;
  }

  .header {
    padding: 0;
    margin-right: 60px;
  }

  .signin-button {
    width: 90px;
    margin-right: 10px;
  }

  .logo {
    width: 120px;
    margin-left: 40px;
  }

  .header-buttons {
    margin-right: 48px;
    display: flex;
  }

  .faq {
    padding: 5px 17px;
    font-size: 10px;
    width: 70%;
  }

  .faq h2 {
    font-size: 25px;
  }

  .accordion .accordion-title {
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 15px;
  }

  .accordion .accordion-content p {
    margin: 0.5em 0;
    font-size: 10px;
  }

  .footer-section {
    padding-right: 50px;
  }

  .footer-social-icon {
    margin-left: -10%;
  }

  .footer-widget ul {
    margin: 5px 10px 10px 0;
  }

  .wrapper .icon {
    margin: 7px;
  }

  .copyright-area {
    margin-top: 10px;
    margin-right: 10px;
  }
}

/* CSS for 768x1024 */
@media (max-width: 768px) {
  .features:before {
    top: 680px;
  }

  .features h2 {
    font-size: 30px;
  }

  .features p {
    font-size: 10px;
  }

  .cta-text {
    padding-left: 3px;
  }

  .cta-text h4 {
    font-size: 15px;
  }

  .cta-text span {
    font-size: 10px;
  }

  .copyright-area {
    padding: 2px 0;
  }
}
